@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");


button {
  display: flex;
  justify-content: flex-start;
  left: 0;
  background-color: #dc9f61;
  padding: 10px;
  font-size: 24px;
  color: rgb(130, 6, 6);
  cursor: pointer;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#dc {
  font-size: 28px;
}

:root {
  --green-color: #3cb815;
  --light-green-color: #ceeb7b;
  --orange-color: #ff7e00;
  --light-orange-color: #f75f1d;
  --text-color: #1a2428;
  --bg-color: #fff;
}

.mysection {
  padding: 2.5rem 1rem;
}

@media screen and (min-width: 600px) {
  .mysection{
    margin: 0 5rem;
  }
}

img {
  width: 100%;
}


button a {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(35, 30, 24);
  padding: 0.5rem 1rem;
}

button a:hover,
button .home-active {
  color: #6f8bd8;
  transition: background 0.5s;
}

#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 10;
  display: none;
}

.ctn {
  position: relative;
  width: 100%;
  min-height: 710px;
  display: flex;
  align-items: center;
  background: url("images/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.ctn img {
  position: absolute;
  top: 60%;
  left: 88%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 500px;
  border-radius: 50%;
}

.home-text {
  padding-top: 150px;
  padding-right: 30px;
  padding-bottom: 60px;
  padding-left: 6%;
}

.home-text h1,
.home-text span {
  font-size: 2.5rem;
}

.home-text span {
  font-weight: 1000;
  text-transform: uppercase;
  color: var(--green-color);
}

.home-text.hl {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.mybutton {
  padding: 0.4rem 0.8rem;
  background: var(--green-color);
  color: var(--bg-color);
  font-weight: 200;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 0.1rem;
  max-width: 135px;
}

.mybutton.bx {
  padding: 4px;
  background: var(--bg-color);
  color: var(--text-color);
  border-radius: 1rem;
  font-size: 20px;
  margin: auto;
}

.mybutton:hover {
  background: var(--light-orange-color);
  transition: 0.2s ease;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.heading h1 {
  font-size: 1.6rem;
  font-weight: 600;
}

.heading span {
  color: var(--green-color);
}

.categories-ctn{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 3rem;
  margin-top: 2rem;
  padding: 1.5rem;
}

.categories-ctn .box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  border-radius: 0.5rem;
  background: #faeaea;
}

.categories-ctn .box img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  object-position: center;
}

.categories-ctn .box h2 {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

.categories-ctn .box span {
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.categories-ctn .box .bx {
  padding: 10px;
  background: var(--green-color);
  color: var(--bg-color);
  border-radius: 5rem;
  margin-top: 2rem;
  position: absolute;
  bottom: -8%;
  display: none;
}

.categories-ctn .box .bx:hover {
  background: var(--light-orange-color);
  transition: 0.2s all linear;
}

.categories-ctn .box:hover .bx {
  display: block;
  transition: 0.2s all linear;
}

.dish-ctn{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  margin-top: 0.5rem;
}

.dish-ctn .box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 0.5rem;
  background: #eeeef9;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
}

.box {
  box-shadow: 5px 5px lightblue;
}

.dish-ctn .box img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  object-position: center;
}

.dish-ctn .box h2 {
  font-size: 1.3rem;
  font-weight: 600;
}

.dish-ctn .box span {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.dish-ctn .box .bx {
  padding: 10px;
  background: var(--green-color);
  color: var(--bg-color);
  border-radius: 5rem;
  margin-top: 2rem;
  position: absolute;
  bottom: -8%;
  display: none;
}

.dish-ctn .box .bx:hover {
  background: var(--light-orange-color);
  transition: 0.2s all linear;
}

.dish-ctn .box:hover .bx {
  display: block;
  transition: 0.2s all linear;
}

.sub-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 0;
  color: rgb(255, 128, 0);
}

.sub-heading h1 {
  font-size: 1.6rem;
  font-weight: 600;
}

.ctn .topheading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  margin-left: 6%;
}

.ctn .topheading h1 {
  font-size: 2.6rem;
  font-weight: 600;
  margin-top: 100px;
}

.topheading {
  color: #ff5500;
}

#en {
  padding: 0 10pxs;
  font-size: 24px;
  color: #ff9500;
  text-align: center;
}

@media screen and (max-width: 600px) {
  body {
    background-size:
    contain; 
    padding-left: 6px;
  }
  
  button {
    display: flex;
    justify-content: flex-start;
    left: 0;
    padding-left: 16px;
  }
  
  .home-text h1,
  .home-text span {
    font-size: 1.8rem;
  }
  
  .home-text {
    padding-top: 40%;
    padding-right: 30px;
    padding-bottom: 60px;
    padding-left: 15%;
  }
  
  .home-text.hl {
    font-size: 1.6rem; 
    margin-bottom: 0.5rem;
  }
  
  .ctn .topheading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    margin-left: 8px;
  }
  
  .ctn .topheading h1 {
    font-size: 2rem;
    font-weight: 400;
    margin-top: 85px;
  }
  
  .topheading {
    color: #ff5500;
  }
  
  .ctn img {
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
}  


.mybutton a{
  text-decoration: none;
}